.overlayer-shoppingCart {
  position: relative;
  .items-count {
    position: absolute;
    top: -47px;
    left: 42px;
    padding: 5px;
    border-radius: 28%;
    color: #fff;
    background: #3f51b5;
  }
}
