.nav-controls {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  position: sticky;
  top: 0;
  margin: -116px 10px 10px;
}

.nav-item {
  float: right;
  position: relative;
  cursor: pointer;
}

a {
  color: rgb(216, 91, 42);
}

.nav-item {
  display: block;
  color: black;
  padding: 14px 16px;
  font-size: 20px;
  text-decoration: none;
  color: rgb(216, 91, 42);
  font-weight: bold;
}

.nav-outlayer {
  z-index: 1;
  box-shadow: 0 11px 13px -9px #ccc;
}

.nav-logo {
  text-align: left;
  font-family: "Bebas Neue", cursive;
  font-size: 34px;
  color: rgb(216, 91, 42);
  margin: 0 20px;
}

.icon {
  font-size: 32px;
  margin: 13px 5px;
}
