.nav-root {
  flex-grow: 0;
}

.nav-outlayer {
  padding: 60px;
  z-index: 1;
  position: relative;
  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
}

.nav-logo {
  text-align: left;
  font-family: "Bebas Neue", cursive;
  font-size: 34px;
  color: rgb(82, 82, 82);
  margin: -91px 0px 0px 0px;
}

.nav-controls {
  text-align: right;
  margin: -104px 0 -64px 0px;
}

.nav-item {
  cursor: pointer;
  font-family: "Bebas Neue", cursive;
  padding: 5px;
  color: rgb(82, 82, 82);
  font-size: 25px;
}
