.basket-summary {
  color: rgb(0, 0, 0);
  position: absolute;
  top: 135px;
  right: 11px;
  padding: 10px;
  width: 300px;
  height: 500px;
  z-index: 999;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
  border-bottom: 3px solid #000;
  border-top: 3px solid #000;

  li {
    position: relative;
    font-weight: bold;
    font-size: 18px;
    list-style: none;
    background-color: white;
    margin: 9px;
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 5%;

    b {
      color: rgb(216, 91, 42);
      margin-left: 10px;
      margin-right: 10px;
    }

    span {
      position: absolute;
      right: 5px;
      top: 3px;
      font-size: 26px;
      padding: 5px;
    }
  }
}
