@import "react-alice-carousel/lib/alice-carousel.css";

.hide {
  display: none;
}

.gallary {
}

/* HeadLine */

.gallary-layer-HeadLine {
  padding-top: 10px;
  min-height: 60vh;
  position: relative;
}

.layer-HeadLine {
}

.gallary-item-HeadLine {
  width: 100%;
  position: absolute;
  top: -82vh;
  left: 0;
  z-index: -1;
}
/* HeadLine END */

.gallary-layer-FeaturedContent {
}

.gallary-item-FeaturedContent {
  width: 99%;
  height: 400px;
}
